<div class="page-wrapper">

  <!-- PAGE CONTAINER-->
  <!-- <div class="page-container"> -->
  <!-- HEADER DESKTOP-->

  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #aab8b8; height: 75px;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" routerLink="/industries"
              style="font-style: small-caps;"><b>HOME</b></a>
          </li>

          <app-industrial-category-menu></app-industrial-category-menu>

          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" routerLink=""><b>ABOUT US</b></a>
          </li>
        </ul>

        <app-login-status></app-login-status>

        <app-search></app-search>

      </div>
    </div>
  </nav>
  <!-- END HEADER DESKTOP-->

  <!-- MAIN CONTENT-->
  <router-outlet></router-outlet>
  <!--ends page container-->
</div>

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>